WaterLevel.txt
[
    {
        "id": "f1e3c5f9.2a6f48",
        "type": "tab",
        "label": "Monitoramento Caixas",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ce7a2a71f2a5ffed",
        "type": "inject",
        "z": "f1e3c5f9.2a6f48",
        "name": "Simular Nível",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payloadType": "date",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "d8a35e56354a97df"
            ]
        ]
    },
    {
        "id": "d8a35e56354a97df",
        "type": "function",
        "z": "f1e3c5f9.2a6f48",
        "name": "Gerar níveis aleatórios",
        "func": "let caixas = [];\nfor (let i = 1; i <= 5; i++) {\n    let nivel = Math.floor(Math.random() * 46000); // até 46.000L\n    caixas.push({\n        caixa: i,\n        nivel: nivel\n    });\n}\nmsg.payload = caixas;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 120,
        "wires": [
            [
                "d0182a8d8fb141a7",
                "2491e71a10b9c823"
            ]
        ]
    },
    {
        "id": "d0182a8d8fb141a7",
        "type": "function",
        "z": "f1e3c5f9.2a6f48",
        "name": "Separar para gráfico",
        "func": "let data = [];\nmsg.payload.forEach(caixa => {\n    data.push({ topic: \"Caixa \" + caixa.caixa, payload: caixa.nivel });\n});\nreturn [data];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 80,
        "wires": [
            [
                "63d1e69140836a29"
            ]
        ]
    },
    {
        "id": "2491e71a10b9c823",
        "type": "function",
        "z": "f1e3c5f9.2a6f48",
        "name": "Checar alertas",
        "func": "let alertas = msg.payload.filter(c => c.nivel < 10000);\nif (alertas.length > 0) {\n    msg.payload = alertas.map(c => `⚠️ Caixa ${c.caixa} abaixo de 10.000L: ${c.nivel}L`).join(\"\\n\");\n    return [msg, null];\n} else {\n    return [null, {payload:\"Níveis normais\"}];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 180,
        "wires": [
            [
                "ff7a51efb40a3f9c"
            ],
            [
                "ff7a51efb40a3f9c"
            ]
        ]
    },
    {
        "id": "63d1e69140836a29",
        "type": "ui_chart",
        "z": "f1e3c5f9.2a6f48",
        "name": "Níveis das Caixas",
        "group": "524a1baf2c2ab7e7",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Níveis das Caixas",
        "chartType": "bar",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Esperando dados",
        "dot": false,
        "ymin": "0",
        "ymax": "46000",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "0",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#2ca02c",
            "#d62728",
            "#9467bd",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": true,
        "className": "",
        "x": 870,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ff7a51efb40a3f9c",
        "type": "ui_text",
        "z": "f1e3c5f9.2a6f48",
        "group": "524a1baf2c2ab7e7",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Alerta",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 850,
        "y": 180,
        "wires": []
    },
    {
        "id": "524a1baf2c2ab7e7",
        "type": "ui_group",
        "name": "Nível das Caixas",
        "tab": "d5dfab26d1c0b3da",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d5dfab26d1c0b3da",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8da36d345c4d2c11",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]